{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p>This is a fan creation, and is not affliated with the team behind Explosm.net in any way.</p>
<h2>Credits</h2>
<ul>
    <li>Website programmed and designed by <a href="http://sunnydan.github.io">Daniel Hilla</a></li>
    <li>Orignal "pants" icon created by <a href="https://thenounproject.com/Chamedesign/">Chameleon Design</a> from <a href="https://thenounproject.com/">Noun Project</a>, modified by Daniel Hilla</li>
    <li><a href="http://materializecss.com/">Materialize</a> CSS Framework created by the Materialize Team, and used under the MIT license</li>
</ul>
{% endblock %}